[2016-07-23 20:42] nblumhardt opened #1 "Allow alternate config file paths to be specified (CI failure)"
It looks like some external package changes have upset CI? https://ci.appveyor.com/project/serilog/serilog-settings-appsettings

[2016-07-28 21:06] nblumhardt opened #2 "MinimumLevel.Override() support"
As per: https://nblumhardt.com/2016/07/serilog-2-minimumlevel-override/

One possible syntax:

[code]

[2016-08-16 23:56] nblumhardt commented on #1
This is due to `dotnet-test-xunit.exe` now loading its own config file earlier in the process, thus thwarting our efforts to override the config file location in the test project.

We might as well support specifying a custom file path to solve this issue:

[code]

[2016-08-17 01:04] #1 closed

[2016-09-15 10:43] totpero opened #5 "System.UnauthorizedAccessException"
Hello,

In my Web App i get this error : "Attempted to perform an unauthorized operation."

[code]
InnerException:

[code]

This is my configuration:
[code]
And in web.config i have this:
[code]
[code]

[2016-09-18 23:17] nblumhardt commented on #5
Hi - I'd guess this is https://github.com/serilog/serilog-sinks-eventlog/issues/10 - the exception originates in the EventLog sink rather than this package. Let's keep discussion in the one place over there 👍

[2016-09-18 23:17] #5 closed

[2016-09-19 11:47] totpero commented on #5
Yes, this exception is cause by EventLog but if i delete this lines from config:
[code]
and remain only:
[code]
and use:
[code]
the **Trace.svclog** is not created but i don't get any error.

But if i use:
[code]
works OK.

[2016-09-19 23:08] nblumhardt commented on #5
👍

I think you need: `<add key="serilog:using" value="Serilog.Sinks.Trace" />`

[2016-09-22 12:32] totpero commented on #5
yes this was. tx  :+1:

[2016-10-30 23:50] #2 closed

[2017-04-07 09:22] zaha opened #6 "formatter in web.config is not used with File sink"
Hi,

I'm trying to set the JsonFormatter in my services' web config like so:

[code]

[code]

But it is not outputting JSON logs. When I do the same via code, it's working just fine:

[code]

I also turned on selflog but it's not logging anything. Am I missing something or is this a bug?

Cheers
Michael

[2017-04-07 09:33] zaha commented on #6
Okay, nevermind. I just noticed, that there is **no outputTemplate parameter** when using the formatter parameter. After commenting that out in the web.config, it worked.

Of course, I noticed this only minutes after posting this issue. Before I was looking for a solution myself for almost an hour... ^^'

[2017-04-07 09:33] #6 closed

[2017-04-07 21:50] nblumhardt commented on #6
Great! Glad you tracked it down, thanks for following up.

[2017-05-03 11:10] nblumhardt opened #7 "Deeper LoggingLevelSwitch support"
If the root logger's minimum level is controlled by a `LoggingLevelSwitch`, sinks (the Seq sink in particular) can control this level in response to network messages from a remote server.

It would be great to enable this capability when working with settings (both here and in the JSON variant).

The "declaration" of a switch would need to give it both a name and initial level; subsequent "uses" o

[2017-05-03 14:07] SeanKilleen commented on #7
Will there ever be more than one `LogLevelSwitch` in this case?

My theory is that for the majority of use cases, folks are looking for a Seq instance to communicate the logging levels, so they don't necessarily need to worry about the names, as they'd be assuming one switch.

If that's truly the case, could the config be simplified to:

[code]

If this was provided, would it be possible to create

[2017-05-03 22:38] nblumhardt commented on #7
Thanks for the feedback! I am also a bit unsure about the switch names, but doing it implicitly would still require some way of opting-in to using the switch with a sink.

For example, the configuration below does use a switch, but doesn't let Seq control it:

[code]

In this case, the switch controls the root logger and what effectively reaches the file, but this works independently of the level

[2017-05-04 17:05] SeanKilleen commented on #7
Ahhh, I see -- what I was missing was the fact that there could be a generic switch that Seq didn't control, and that you'd specifically have to wire up a provider to use it (and that we might not want all providers extended to use it).

[2017-05-04 17:07] SeanKilleen commented on #7
In that case, I like your original suggestion, honestly. It's clean-ish, can be documented, and knowing how the switching works now, I could detect if something was wrong with that config. So no suggestions on my end from a client API perspective.

[2017-08-01 13:11] nvivo commented on #7
Is this still on the plan? I'm not sure if this is granular enough, but I was looking for a way to have different log levels at the same server, so I could send a message saying "set customer X or component Y to Verbose for 30 minutes" and not have the entire cluster sending millions of messages to Seq unnecessarily.

[2017-08-01 18:49] paulomorgado commented on #7
It would also be nice to set log level per source.

[2017-08-01 21:36] nblumhardt commented on #7
@nvivo I don't believe this one will be granular enough for what you're after; you might be able to build what you're looking for in code, though, using `LoggingLevelSwitch` and [`LoggingFilterSwitch`](https://github.com/serilog/serilog-filters-expressions/blob/dev/src/Serilog.Filters.Expressions/Filters/Expressions/LoggingFilterSwitch.cs) - interested to hear how you go if you give it a try.

@pa

[2017-08-14 12:17] vmary2014 opened #8 "Can you setup filters?"
Hi
Using the app or web config files can I set filters too?
For example, I want to display to a console app any log except from a specific namespace.
In code you could do something like this
`.Filter.ByExcluding(Matching.FromSource<MyNameSpace>())`
However I have not found a way to do this using the app settings.
Is it possible to do it?
Thanks
Vincent

[2017-08-14 20:50] nblumhardt commented on #8
Hi @vmary2014 - thanks for getting in touch.

I'm short on time this morning to get a proper example to you, sorry, but you might find the XML config example for `Serilog.Filters.Expressions` helpful:

https://github.com/serilog/serilog-filters-expressions#xml-configuration

There's also a ticket here in this repository suggesting we implement minimum level overrides in XML configuration ( #2 ) -

[2017-08-15 06:55] vmary2014 commented on #8
Nice one I can't believe I missed that one. I will give it a try.
Thanks for your help.
Vincent.

[2017-08-15 06:55] #8 closed

[2017-08-24 07:33] tsimbalar commented on #7
I must say I would love to see that change come sooner rather than later :) It is THE reason why we haven't moved to remotely-controlled level.

It is ok to have a bit of config in the code and a bit of config in the app settings, but I don't believe we can currently mix "seq configuration in the `appSettings`" but "adding the `controlledBy`" in the code.

[2017-08-24 11:40] nvivo commented on #7
Just for the record, I did some tests using both LoggingLevelSwitch and LoggingFilterSwitch as recommended by @nblumhardt and although it's not ready out of the box, it seems doable. I didn't implement it in production yet, but nothing seems to prevent me from starting with a default and changing that later remotely. Which barriers did you find @tsimbalar?

[2017-08-27 07:35] nblumhardt commented on #7
Thinking `minimum-level:controlled-by` would be more consistent with the rest of the syntax than `*:ControlledBy` as in the first example.

This would make the syntax:

[code]

Seems like there's heaps of support for this one - don't suppose anyone has the opportunity to try an implementation/PR?

[2017-08-27 13:00] tsimbalar commented on #7
@nblumhardt oh, I thought it was already implemented somewhere, but just waiting for feedback about the the final syntax in the config file

I would like to give it a try and implement it.
I would probably need a bit of help to find my way around the code base(s) , and also more generally about the process (PRs and so ... I'm pretty much a noob with OSS, better late than never I guess ;) )

The wa

[2017-08-27 23:13] nblumhardt commented on #7
@tsimbalar awesome! :-)

Yes, that's correct.

[2017-08-30 05:56] tsimbalar commented on #7
I'm currently working on it ([here](https://github.com/tsimbalar/serilog/tree/level-switch-appsettings) - work in progress :p).

I am having second thoughts about the syntax for the app settings for the `LoggingLevelSwitch` declaration and reference. I'm probably not following *YAGNI*, but anyway, here are my thoughts ...

### 1 - Variable Declaration
I'm wondering if the **"variable declaration"*

[2017-08-30 21:50] nblumhardt commented on #7
Interesting!

I think to do variables successfully, we'd need to go pretty deep so that we don't risk adding a general feature that only ever supports the one use case. I.e. we'd need to make sure values with `$` in them were not ambiguous, deal with types consistently, and ideally keep the option open to do a string-substitution syntax for things like common log file paths a-la NLog.

It would al

[2017-08-31 04:27] tsimbalar commented on #7
Agreed :) In doubt *YAGNI*

I'll implement it according to the initial proposal, an maybe I'll post an issue to discuss *variables* in the more general serilog/serilog repo, to see if it triggers any interest or reveals any actual real-world use case.

[2017-09-01 09:14] tsimbalar commented on #7
I've pushed the code.

I would like to update the related documentation, but it turns out that doc is duplicated in :
- **Serilog wiki** : https://github.com/serilog/serilog/wiki/AppSettings
- **Serilog-settings-appsettings**'s `README` file https://github.com/serilog/serilog-settings-appsettings/blob/dev/README.md

It seems that one is a copy of the other, so should both be updated ? :)

Also, th

[2017-09-08 09:30] JFesta opened #9 "Support for mixed parameters and/or TimeSpan parsing"
In my application I want to write my logs using Serilog.Sinks.RollingFile. Additionally, as I need to configure some things (e.g. the pathFormat or the minimum logging level) depending on what environment I'm deploying it, I tried to use Serilog.Settings.AppSettings to read parameters from App.config.

Everything was working fine, until I had to use RollingFile's parameter flushToDiskInterval, whi

[2017-09-08 21:21] nblumhardt commented on #9
Thanks for the note. Just on item #1, I don't think `Convert.ChangeType()` works for `TimeSpan` from `string`, but a PR to add a few more type conversions would be great if anyone is able to check it out.

The second point is a pretty deep part of the design of this package; one thing we _could_ do here is let `ReadFrom.AppSettings` accept a set of key-value-pair "defaults" and "overrides" that wo

[2017-09-11 19:12] tsimbalar commented on #7
It turns out `LoggingLevelSwitch`es can also be passed to `MinimumLevel.Override(prefix, switch)`, so this should also be supported ...

[code]

I have added it and the correspounding tests in my PR serilog/serilog#1020

[2017-09-12 13:35] Vrlwrox opened #10 "Method not found: Serilog.AppSettingsLoggerConfigurationExtensions.AppSettings"
My project references `Serilog.Settings.AppSettings` version `2.0.0`. It also references another assembly that references the same version of `Serilog.Settings.AppSettings`. When I update my project to use `Serilog.Settings.AppSettings` version `2.1.0` I get the following exception when reading configuration:

Note, I only update my project and not the other assembly (there the version stays at 2.

[2017-09-12 15:14] khellang commented on #10
This is the biggest issue when adding optional parameters to a method: it's always a binary breaking change. When the assembly calling the method is compiled, the default value is "burned" into the assembly, so when you add a new parameter to a method, you have to recompile all other assemblies that calls that method. It's unfortunate that this was done in a patch release, though.

[2017-09-13 01:09] nblumhardt commented on #10
Ah, no good - I have a feeling I'd meant to bump the major version on this one but missed it.

I think we should add an overload with the old signature so that 2.1 is compatible with clients compiled against both the old and new versions.

[2017-09-13 06:03] Vrlwrox commented on #10
@nblumhardt, yes, this should easily be fixed by adding overloads. I propose three overloads with 0, 1 and 2 string parameters. This way you keep compatibility with 2.0 and 2.1.

[2017-09-14 01:20] nblumhardt commented on #10
@Vrlwrox thanks for the follow-up. I think we can get by with just the two overloads, the current and previous signatures (marking the old one non-editor-browsable).

[2017-09-14 22:53] #10 closed

[2017-09-14 23:00] nblumhardt commented on #10
Hi @Vrlwrox - 2.1.1-dev is now on NuGet with the fix, any chance you can check it out to see whether your situation is resolved correctly? Cheers!

[2017-09-18 15:35] Vrlwrox commented on #10
Yes, it's fixed.

[2017-09-18 21:42] nblumhardt commented on #10
Thanks @Vrlwrox! #12 on the way.

[2017-09-19 06:28] tsimbalar opened #13 "Upgrade to Serilog.Settings.AppSettings v2.1.1 breaks calls to `.ReadFrom.AppSettings()`"
I think it is related to the changes from #10 and #12

The following code no longer compiles after upgrading from **v2.1.0** to **v2.1.1**

[code]

![image](https://user-images.githubusercontent.com/160544/30578286-59b833f8-9d13-11e7-9176-874b3a670194.png)

[code]

I guess probably only one of the overloads should have optional params.

[2017-09-19 08:25] nblumhardt commented on #13
D'oh! Swapped a binary-breaking change for a source-breaking one :-(

Thanks for the heads-up, I'll push a fix straight through...

...and after that I'm taking a short holiday from shipping patches :-)

[2017-09-19 08:30] #13 closed

[2017-09-19 08:35] nblumhardt commented on #13
2.1.2 should have it covered.

[2017-09-19 11:19] tsimbalar commented on #13
Confirmed, works like a charm :)

[2017-09-22 08:34] tsimbalar commented on #9
**For the timespan parsing**, I would say it's wrong to accept *ms* as a unit by default.

FYI the `TimeSpan.ToString()` returns  :

[code]

And `TimeSpan.Parse(string input)` accepts the same kind of strings.

So I would say that we should accept values that are valid strings for `TimeSpan.Parse()` as valid values for a parameter of type `TimeSpan`

*For the second point*
For now, the `AppSetting

[2017-09-22 10:51] nblumhardt commented on #9
+1 on supporting the syntax understood by `TimeSpan.Parse` 👍

The variable substitution puzzle is getting interesting :-)

Just to put one other idea out there, already discussed in the #7 level switch thread:

[code]

where:

[code]

I.e., instead of string substitution, we could implement object references.

The litmus test would be whether it'd work seamlessly with:

[code]

With config contain

[2017-09-22 17:55] tsimbalar commented on #9
@JFesta  Regarding `TimeSpan` ... it turns out that it is already supported, and relies on the format that is accepted by `TimeSpan.Parse(string)` ...

According to [MSDN](https://msdn.microsoft.com/en-us/library/se73z7b9(v=vs.110).aspx#Anchor_2) :

So the proper way to write, say, 30 seconds, is `00:00:30`.

It is not officially documented in Serilog, but I've just issued a PR (serilog/serilog#10

[2017-10-07 21:00] spati2 opened #17 "Custom Params"
Hi,
I wanted to set some custom parameters on the App.config. Something along the lines of

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:LiterateConsole" value="AWS.Logger.SeriLogger" />
    <add key="serilog:write-to:LiterateConsole"/>
    <add key="serilog:CustomParam" value="Custom" />

[2017-10-07 21:19] merbla commented on #17
@spati2 do you have some example code?

[2017-10-07 22:09] spati2 commented on #17
My plan was to read the code as such
var config = new LoggerConfiguration().
                ReadFrom.AppSettings();
But the custom key value pair do not show up in the config

[2017-10-09 09:39] paulomorgado opened #18 "Allow logging level configuration per source in AppSettings configuration"
(as per requested in #7)

Something like:

    <add key="serilog:source-log-level:somesource" value="Verbose" />
    <add key="serilog:source-log-level-switch:somesource" value="Switch1" />

[2017-10-09 20:27] tsimbalar commented on #18
I'm not sure about what you mean when saying "per source" , but if you are talking about *source context* as in : `Logger.ForContext<MyClass>()` ... then, that feature is called *[MinimumLevel.Override()](https://nblumhardt.com/2016/07/serilog-2-minimumlevel-override/)*.

The *static* case has been covered by `ReadFrom.AppSettings()` for a while by #2 , and it looks like this : (taken from https:/

[2017-10-10 14:09] paulomorgado commented on #18
OOPS!

My bad for not knowing that!

But having an option to use a switch will be great.

[2017-10-10 14:09] #18 closed

[2017-10-10 15:37] tsimbalar commented on #18
@paulomorgado no problem :) I guess it needs to be a bit more obvious in the documentation :p

[2017-10-14 17:05] tsimbalar commented on #9
@JFesta regarding

would proposal serilog/serilog#1038 help ?

[2017-10-16 18:26] tsimbalar opened #19 "Allow granular combination of AppSettings with other key-value settings"
This is the continuation of serilog/serilog#1038 and can only be done when/if the core infrastructure for this has landed (see PR serilog/serilog#1041 )

This idea is to allow to add *AppSettings* on top of (or under) settings coming from another source (in memory settings, or maybe another config file).

To do that, we would need to add :
- a new `ISettingsSource` that reads key-value settings fr

[2017-11-07 13:48] tsimbalar commented on #19
Close it for now ... maybe reopen later when *Serilog.Settings.Combined* is done.

[2017-11-07 13:48] #19 closed

[2018-01-13 14:05] tsimbalar commented on #7
Closing this issue because it was implemented in serilog/serilog#1020 (and available in Serilog v2.6).

The final syntax is :

[code]

[2018-01-13 14:05] #7 closed

[2018-01-13 14:07] tsimbalar commented on #17
I think we'll need more to go further on that issue.

I'll close it ... Feel free to re-open if needed.

[2018-01-13 14:07] #17 closed

[2018-01-31 08:19] olamartensson opened #20 "Add support for 'Destructure' configuration options in app settings"
I would like to be able to configure Serilog's `Destructure` configuration options like e.g.:
[code]
in the app settings XML file like e.g.:
[code]

It seems to me this is not possible today.

[2018-02-01 09:55] nblumhardt commented on #20
Thanks for the suggestion 👍

[2018-03-29 17:50] generik0 opened #22 "Serilog.Settings.AppSettings.2.2.0 Strong name signature could not be verified"
Hi

I have tried using the new pre release. I get a "Strong name signature could not be verified". Was the build missing something after the VS2017 upgrade?

[FileLoadException: Could not load file or assembly 'Serilog.Settings.AppSettings' or one of its dependencies. Strong name signature could not be verified.  The assembly may have been tampered with, or it was delay signed but not fully signed

[2018-03-29 18:19] generik0 commented on #22
Fixed with PR

[2018-03-29 18:19] #22 closed

[2018-04-05 12:36] Vrlwrox opened #24 "Using LoggingLevelSwitch configured in app.config"
I'm trying out the LoggingLevelSwitch and I want to implement the following scenario/requirements:

1. The switch must be configured in app.config.
2. User should be able to change the log level inside app.config while application is running.
3. The changed setting should be automatically picked up by the running application and used.

I managed to configure the switch in app.config

    <add key=

[2018-04-06 03:50] nblumhardt commented on #24
Thanks for the note! The app settings support package doesn't watch or dynamically update level switches yet, but this would be a great feature.

Not sure what would be involved, and I know it is a substantial task, but if anyone is keen to investigate and drive a PR it'd be very welcome 👍

[2018-04-06 08:53] Vrlwrox commented on #24
Thanks, this helps.

How about my second point, getting the reference to the switch that SeriLog creates internally (the $mySwitch in my app.config file)? Is this somehow possible?

[2018-04-06 22:01] nblumhardt commented on #24
Hi @Vrlwrox  - it's possible to get a reference to the switch, but it's a bit hacky:

[code]

Then in the config:

[code]

Completely untested (just written in the browser :-) .. but with the wrinkles ironed out, you should be able to access `LevelSwitchCollector.LevelSwitch` once the configuration has been read.

Curious to hear whether this works out for you. Cheers!

[2018-04-19 21:54] nblumhardt commented on #24
Closing due to inactivity, but please let us know if you still need help here @Vrlwrox

[2018-04-19 21:54] #24 closed

[2018-05-07 09:38] tsimbalar commented on #20
In order to have aconsistent implementation, it should be similar to serilog/serilog-settings-configuration#110

[2018-05-07 09:47] tsimbalar commented on #20
How should generic parameters be specified in order to call `.Destructure.With<MyCustomDestructuringPolicy>()` ?

I would say staying close to C# would be the best approach (using angle brackets), but in a XML-ish config file, that probably means they would have to be escaped like so :

[code]

Another option is to not support generic parameters at all in the settings providers, but to add a _non-

[2018-05-25 12:52] tsimbalar commented on #9
Closing this one for now.

- The `TimeSpan` part is covered
- The other part is covered in pending issues in different spots.

Can be reopened if needed :)

[2018-05-25 12:52] #9 closed

[2018-06-13 14:18] tsimbalar commented on #20
This is being worked on in the [main Serilog repo](https://github.com/serilog/serilog) through :
- serilog/serilog#1172
- serilog/serilog#1177
- serilog/serilog#1178

[2018-06-13 14:20] tsimbalar opened #27 "Document support for Destructure.XXX() methods and XXX.With<T>() methods"
Once #20 is implemented in the core repo, remember to update the documentation here !

See :
- serilog/serilog#1172
- serilog/serilog#1177
- serilog/serilog#1178

[2018-07-18 13:15] sungam3r opened #28 "Strong name verification failed"
It's ok with version 2.1.2

![image](https://user-images.githubusercontent.com/21261007/42883394-33a6e7d4-8aa4-11e8-99ae-b22528449ea9.png)

but with DEV versions above 2.1.2 verification failed

 ![image](https://user-images.githubusercontent.com/21261007/42883501-6fac805e-8aa4-11e8-9065-14a8ce401d5d.png)

and

![image](https://user-images.githubusercontent.com/21261007/42883542-8ab5c040-8aa4-11e8

[2018-07-19 21:48] nblumhardt commented on #28
Interesting, sounds like it needs investigation, thanks!

[2018-08-07 03:30] laxman4434 opened #29 "How to add ApplicationInsights Details"
How to set  the key to when using Serilog.Sinks.ApplicationInsights

Tried this way :

    <add key="serilog:using:ApplicationInsights" value="Serilog.Sinks.ApplicationInsights" />
    <add key="serilog:write-to:ApplicationInsightsEvents" value="<my key value>" />

But that doesn't work.

Any help would be appreciated.

[2018-08-26 14:54] MNF commented on #29
It’s better to ask on Stackoverflow or in
https://github.com/serilog/serilog-sinks-applicationinsights.
Also often useful to enable SelfLog, as described in
https://github.com/serilog/serilog/wiki/Debugging-and-Diagnostics

[2018-09-22 00:30] nblumhardt commented on #29
@laxman4434 just guessing from the second link posted by @MNF, you need to specify the parameter name for the instrumentation key:

[code]

[2018-09-22 00:31] nblumhardt commented on #29
See also https://github.com/Suchiman/SerilogAnalyzer, which can generate XML configuration from code :stars:

[2018-09-22 00:31] #29 closed

[2018-09-22 00:33] nblumhardt commented on #20
Looks like this has moved forwards :+1:

[2018-09-22 00:33] #20 closed

[2018-10-26 13:42] Suchiman commented on #28
This issue has been released to nuget with Version `2.2.1` so whoever Upgrades, will run into this issue

[2018-10-26 20:28] nblumhardt commented on #28
@Suchiman can you reproduce this, BTW?

[2018-10-26 20:35] Suchiman commented on #28
@nblumhardt yes, i've updated the package in my ASP.NET MVC 5 application and immediately ran into https://stackoverflow.com/questions/21763822/how-to-disable-strong-name-verification-for-all-net-assembly/27922861

[2018-10-26 20:50] nblumhardt commented on #28
(Unlisted 2.2.1 to try to keep things sane while I narrow this down..)

[2018-10-26 21:29] nblumhardt commented on #28
Appears that this was due to the build image not being specified as VS2017 - I made the config change and tested the resulting dev package; releasing from master now.

[2018-10-26 21:29] #28 closed

[2018-10-26 21:32] nblumhardt commented on #28
2.2.2 is published: https://github.com/serilog/serilog-settings-appsettings/releases/tag/v2.2.2

[2018-11-20 23:31] jafin opened #35 "Relative path support for bufferBaseFilename property when set on config?"
May I check if the this package (for use with bufferBaseFilename eg) supports relative paths?
When configured in the app.config such as:

<add key="serilog:write-to:Seq.bufferBaseFilename" value="~/app_data/seq_buffer" />

Seq writes on this system to \windows\system32\inetsrv~\app_data
Ideally it would of written to the relative path of the web app.

[2018-11-21 03:40] nblumhardt commented on #35
Hi @jafin - since environment variables can be substituted into values, there's a technique detailed in https://github.com/serilog/serilog/issues/454#issuecomment-113091429 for doing this. HTH!~

[2018-11-21 09:17] taspeotis commented on #35
I think that the [`APPL_PHYSICAL_PATH`](https://msdn.microsoft.com/en-us/library/ms524602(v=vs.90).aspx) environment would emulate `~` adequately in this case.

[2019-05-21 05:45] eynats opened #37 "Setting "rollOnFileSizeLimit" parameter in a app.config seemed not to work...."
Hi.

I tried to set up some values of the logger through an app.config fie.
such as: rollOnFileSizeLimit = true.

It did not work;
when the logger reached a certain size, on which it was expected to start a new file,
it did not occurred.

Attached is the app.config file that i was using. (i added the extension of 'txt' only for the attach process).

And this code:

var log = new LoggerConfiguratio

[2019-05-21 09:13] #37 closed

[2019-06-13 04:28] viettd1190 opened #38 "issue with NetworkCredentials"
How to specify the networkCredential param using xml in Serilog.Sinks.Email.
 I try below but this cannot working
<add key="serilog:using:Email" value="Serilog.Sinks.Email"/>
    <add key="serilog:write-to:Email.connectionInfo:emailSubject" value="Test log from Serilog"/>
    <add key="serilog:write-to:Email.connectionInfo.fromEmail" value="xxxx@gmail.com"/>
    <add key="serilog:write-to:Email.co

[2019-06-27 21:03] Michael-Borges commented on #38
I have the same problem. Do you found the answer?

[2019-06-28 07:05] tsimbalar commented on #38
Long story short, you can't :-/

`Serilog.Settings.AppSettings` does not do "complex" object creation.

This [Stack Overflow question](https://stackoverflow.com/questions/50387469/net-core-and-serilog-email-sink-json-config/50580020#50580020) offers a workaround. In the example, this is a workaround for the `JSON` settings, but you can do something similar, and then do this in your config :

[code

[2019-07-01 11:37] Tabigon opened #39 "Serilog flushToDiskInterval doesn't work"
**Reproduction steps:**
1) Setup Program.cs like this:
`public class Program
    {
        public static void Main(string[] args)
        {
            IConfigurationBuilder configBuilder = new ConfigurationBuilder();
            configBuilder.SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile("appsettings.json", optional: false, reloadOnChange: true);
            IConfigura

[2019-07-01 22:31] nblumhardt commented on #39
Hi! How are you determining that the flush is immediate? The `flushToDiskInterval` setting only specifies when an fsync is forced; .NET and Windows/Linux may decide to flush out writes faster than that.

[2019-07-29 16:48] ltoshea opened #40 "Dynamic Log Filenames"
I currently am writing to a statically named log file as defined in my serilog config:
 <add key="serilog:write-to:File.path" value="%BASEDIR%\App_Data\Logs\StaticallyNamedLog.log" />

I'd like to be able to change the logfile name at runtime i.e.

 <add key="serilog:write-to:File.path" value="%BASEDIR%\App_Data\Logs\{appname}-Log.log" />

In log4net for example I'd set a log4net global property v

[2019-07-29 22:00] DiskCrasher opened #41 "AppSettings for DLL library"
**A few questions before you begin:**

**Does this issue relate to a new *feature* or an existing *bug*?**
- [ ] Bug
- [ x ] New Feature

**What version of Serilog is affected?  Please list the related NuGet package.**
SeriLog 2.8

**What is the target framework and operating system? See [target frameworks](https://docs.microsoft.com/en-us/nuget/schema/target-frameworks) & [net standard matrix](ht

[2019-07-29 22:01] nblumhardt commented on #41
Thanks for the suggestion. It's not immediately clear that Serilog's model can accommodate this - some investigation of a possible API and scenarios is needed.

[2019-07-29 22:07] nblumhardt commented on #40
You can use environment variables in _Serilog.Settings.AppSettings_ values, so if you call `System.Environment.SetEnvironmentVariable("APPNAME", "Test")` at start-up, before reading from configuration, you can use `%APPNAME%` in the configured file path. HTH!

[2019-07-30 06:40] ltoshea commented on #40
Thanks for your suggestion nblumhardt, this does seem like a possible solution. How about applications that are running in a context that are more confined and cannot set environmental variables. Or if you are using this as a logging class library. Each application using this would set its own environmental variable value to 'appname' and you would get in all kinds of mess.

[2019-07-31 01:11] nblumhardt commented on #40
Thanks for the reply. The same kinds of issues apply to the log4net version, don't they?

I can guess that in some *nix environments `SetEnvironmentVariable()` might be restricted, but I don't have any examples at hand.

Does this approach work for your current scenario?

[2019-07-31 09:30] ltoshea commented on #40
Unfortunately not, I'm try to use serilog to provide a logging service that is used by multiple applications and would like a single unified configuration. In log4net the 'appname' property would be attached to the context of each logger meaning I can have a singular config across loggers that write to multiple files. If I understand correctly what you mean by an environmental variable, it seems w

[2019-08-02 10:32] nblumhardt commented on #40
I'm not sure we're on the same page; by definition, wouldn't `log4net.globalContext.properties["appname"] = "App1"` also overwrite earlier values?

[2019-08-04 18:13] ltoshea commented on #40
I don't believe so, in the case I'm describing each application has it's own log4net context - so each app could have a property called "appname" with different value (i.e. app1, app2, app3 - which would mean logging to three separate log files) They could all share the same configuration file that would have %property{Appname} in.

If we set an environment variable as suggested for serilog it's s

[2019-08-04 18:59] ltoshea commented on #41
This use case describes a similar scenario to how I intend to use it. DiskCrasher - I've actually loaded my settings from a 'serilog.config' file that I've setup that's just structured in the same format as an app.config. You can reference this in your dll.config. I'll try to remember tomorrow to post some snippets. (Remind me if I don't)

[2019-08-04 21:22] nblumhardt commented on #40
Ah, I think this is where we're misunderstanding each other. `Environment.SetEnvironmentVariable()` is not system-wide, it's process-wide. HTH!

[2020-04-20 08:00] schnitty opened #42 "Allow configuration of multiple seq servers"
If I want to write to two Seq servers I can do this in code by:

[code]

I'm not sure how I can do this in appSettings
If I configure like so:

[code]

It ends up only sending logs to otherhost as the key is the same so it overwrites the first one.
Is there away to make these settings unique so that it ends up sending logs to both servers?

[2020-04-20 21:03] nblumhardt commented on #42
Hi! It's been a little while since I used this syntax, but this should be what you need:

[code]

[2020-04-21 00:32] schnitty commented on #42
Thanks, that looks like it should work but it doesnt :(

[2020-04-21 07:04] nblumhardt commented on #42
Sorry, that's me misremembering the features of _Serilog.Settings.AppSettings_. I think this is a limitation of the syntax. It's possible to use prefixes to work around it, i.e.:

[code]

but this requires an additional `ReadFrom.AppSettings("serilog-2")` in the application.

I'll give this a bit more thought, it'd be nice to support this cleanly.

[2020-04-21 08:08] schnitty commented on #42
Thanks for your help, I appreciate it.
Unfortunately I can't get the workaround you listed to work either.  It only picks up the first Sink, doesn't add the second "serilog-2" even when I add ReadFrom.AppSettings("serilog-2") in code

The intent is to have the server addresses configurable so my fallback is to create my own appsettings that contain the server addresses and then just reference them

[2020-04-21 23:28] nblumhardt commented on #42
I don't suppose there's any chance your test harness is missing a `Log.CloseAndFlush()` call? That often presents as missing events from one or more loggers. (If you're not using the static `Log` class, then this corresponds with disposing the root `Logger`.)

[2020-04-22 00:41] schnitty commented on #42
Good for raising it, that has certainly tripped me up in the past but I don't think that is the issue.
When I create the logger and inspect it's properties in the debugger it has only one Seq sink in it's collection instead of two.  So it doesn't seem to be picking up the seperate non standard configuration.

web.config
[code]
In debugger, I would expect two rows for Seq sinks, I only see one
![De

[2020-04-22 00:48] schnitty commented on #42
I'm also using Autofac for DI and have registered the logger according to
https://github.com/nblumhardt/autofac-serilog-integration

[2020-04-23 00:18] nblumhardt commented on #42
Sorry, my mistake again - just checked the role of `settingPrefix` - it's prepended in addition to `serilog:`, so the keys should be:

[code]

[2020-04-23 00:49] schnitty commented on #42
Awesome, that works.  Thanks so much.
Out of curiority where is the documenation that specified that?  I haven't been able to find any.

[2020-04-23 01:35] nblumhardt commented on #42
Great :+1: - it's mentioned in the intellisense docs for the parameter, I found it in: https://github.com/serilog/serilog-settings-appsettings/blob/dev/src/Serilog.Settings.AppSettings/AppSettingsLoggerConfigurationExtensions.cs#L62

Cheers,
Nick

[2020-04-27 11:38] Andrei-Astakhov opened #43 "Is it possible to use a custom enricher?"
Hello,
A have a custom enricher that returns the current thread Id.
`
public class MyEnricher : ILogEventEnricher {
    public void Enrich(LogEvent logEvent, ILogEventPropertyFactory propertyFactory) {
            logEvent.AddPropertyIfAbsent(propertyFactory.CreateProperty(
                    "ThreadId", Thread.CurrentThread.ManagedThreadId));
        }
    }
`
How I can add this enricher via App

[2020-04-27 11:48] tsimbalar commented on #43
Hi,

you can do this yes. Take a look at https://github.com/tsimbalar/serilog-settings-comparison/blob/master/docs/README.md#method-discovery which has some example.

The important part is:
- to add an extension method so that your C# code would look like `Enrich.WithCustomWhatever()`
- then `<add key="serilog:using:XXX" value="XXX" />` to specify where to look for this extension method (name of t

[2020-04-27 12:50] Andrei-Astakhov commented on #43
Hi,
Thank you for your suggestion and for the link. Now it works.

[2020-04-27 12:50] #43 closed

[2020-07-09 06:13] chucklu opened #44 "Watch the config file at runtime"
Try to figure out the feature about watch the App.config at runtime like log4net and NLog
https://stackoverflow.com/questions/25477415/how-can-i-reconfigure-serilog-without-restarting-the-application
https://stackoverflow.com/questions/50715913/serilog-equivalent-to-log4net-config-watch
The above two links have no useful info about reload all settings in App.config.

Here is another link https://s

[2020-07-14 09:17] nblumhardt commented on #44
Related: https://github.com/nblumhardt/serilog-reload

[2020-07-14 10:10] bddckr commented on #44
Oh I wasn't aware of that repo yet! I am using [tagcode/serilog-settings-reloader](https://github.com/tagcode/serilog-settings-reloader) currently (with great success). Any two cents on the difference and general state of yours, Nick?

[2020-07-14 10:22] nblumhardt commented on #44
Hi Christopher-Marcel; the aim currently is to get as close to zero-overhead as possible once the logger is "frozen" - mapping closely to how the ASP.NET Core framework is first bootstrapped, and then given a final logger configuration that does not change. I think _Serilog.Settings.Reloader_ is currently more general, and is undoubtedly a bit more mature :-)

[2021-01-12 11:20] stochmal opened #45 "unable to read tags from App.config"
<add key="serilog:write-to:DatadogLogs.tags" value="name:dev,owner:trading,application:fti" />

trying to read above entry generates error:

System.InvalidCastException
  HResult=0x80004002
  Message=Invalid cast from 'System.String' to 'System.String[]'.
  Source=mscorlib
  StackTrace:
   at System.Convert.DefaultToType(IConvertible value, Type targetType, IFormatProvider provider)
   at System.S

[2021-08-17 15:04] Friendry opened #47 "Custom parameter to JsonFormatter"
Hello,
How can I add the 'renderedMessage = true' in the appsettings file for the JsonFormatter? In the code it's easy, but I haven't managed to do this in the appsettings. Normally the 'renderedMessage' is given to the constructor of the JsonFormatter. Is there a way to do this in the in the xml?

The config part of the file looks like this:
    <add key="serilog:using:File" value="Serilog.Sinks.

[2022-03-24 18:07] zachrybaker opened #49 "Use .Net 5 packages?"
Some poor blokes like me need this code to work well with both net472, netCore3.1 and Net5 (and possibly net6) targets.  This package ends up in a large solution and ends up pulling a v4 of System.Configuration.ConfigurationManager.  We have another hard requirement for v5 of this package, however, that keeps an app from booting, unless I overwrite this dll on boot with a v5.

I really doubt that

[2022-03-25 21:04] nblumhardt commented on #49
Hi @zachrybaker  - would your problem be solved by adding a .NET 5 TFM to https://github.com/serilog/serilog-settings-appsettings/blob/dev/src/Serilog.Settings.AppSettings/Serilog.Settings.AppSettings.csproj ? We've made that change in several other libs so should be no problem pushing through here. Any chance of a PR?

[2022-03-26 02:25] zachrybaker commented on #49
I doubt it would in my case only b/c my target is actually netCore3.1.

On Fri, Mar 25, 2022 at 4:04 PM Nicholas Blumhardt ***@***.***>
wrote:

[2022-07-28 23:16] sergiufilip opened #51 "Unable to configure 'outputTemplate' in config (XML)"
Couldn't find this documented explicitly, based on inference this is the best I came up with but doesn't work:

`<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] {Message:lj}{Properties}{NewLine}{Exception}"/>`

Any suggestions ?
Thank you.

[2022-07-29 12:26] cocowalla commented on #51
Could you please post *all* the keys you are using to configure the sink?

It's possibly something like [this](https://github.com/serilog/serilog-settings-appsettings/issues/6).

[2022-07-29 14:04] sergiufilip commented on #51
Well,
turned out to be my own fault here, as I missed referring the assembly that provides context enrichment - to begin with.
That led me to believe that the out-template doesn't work - false assumption.
The hint you provided @cocowalla was pivotal, as a switched to the JSON formatter (which outputs pretty much everything in the log record) and those attributes were missing too. Big thank you !
[

[2022-07-29 14:04] #51 closed